@model BancoBadalada.Models.EmpregadoHistoricoVM
@{
    ViewData["Title"] = "Criar Empregado";
    var deptoId = ViewBag.Aux;
}


<div>
    <form asp-action="Criar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <input type="hidden" asp-for="Empregado.IdEmpregado" />
            <input type="hidden" asp-for="Empregado.IdDepartamento" value="@deptoId" />
            <input type="hidden" asp-for="Historico.IdDepartamento" value="@deptoId" />
        </div>
        <div class="mb-3">
            <label asp-for="Empregado.NmEmpregado" class="form-label">Nome</label>
            <input type="text" class="form-control" asp-for="Empregado.NmEmpregado">
        </div>
        <div class="mb-3">
            <label asp-for="Empregado.IniciaisEmpregado" class="form-label">Iniciais do Empregado</label>
            <input type="text" class="form-control" asp-for="Empregado.IniciaisEmpregado">
        </div>
        <div class="mb-3">
            <label asp-for="Empregado.DsCargo" class="form-label">Descrição do cargo</label>
            <input type="text" class="form-control" asp-for="Empregado.DsCargo">
        </div>
        <div class="mb-3">
            <label asp-for="Empregado.DtNascimento" class="form-label">Data de nascimento</label>
            <input type="date" class="form-control" asp-for="Empregado.DtNascimento">
        </div>
        <div class="mb-3">
            <label asp-for="Empregado.Salario" class="form-label">Salário</label>
            <input type="number" min="0" class="form-control" asp-for="Empregado.Salario">
        </div>
        <div class="mb-3">
            <label asp-for="Empregado.Comissao" class="form-label">Comissão</label>
            <input type="number" min="0" class="form-control" asp-for="Empregado.Comissao">
        </div>
        <div class="mb-3">
            <label asp-for="Historico.DtInicio" class="form-label">Data de Início</label>
            <input type="date" class="form-control" asp-for="Historico.DtInicio">
        </div>
        <div class="mb-3">
            <label asp-for="Historico.AnoInicio" class="form-label">Ano de Início</label>
            <input type="number" step="1" min="0" class="form-control" asp-for="Historico.AnoInicio">
        </div>
        <div class="mb-3">
            <label asp-for="Historico.DtFinal" class="form-label">Data de Saída</label>
            <input type="date" class="form-control" asp-for="Historico.DtFinal">
        </div>
        <div class="mb-3">
            <label asp-for="Historico.Comentarios" class="form-label">Comentários</label>
            <input type="text" class="form-control" asp-for="Historico.Comentarios">
        </div>
        <input type="submit" class="btn btn-primary" value="Criar" />
    </form>
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
</div>


