@{
    ViewData["Title"] = "Cursos";
}

<div class="text-center">
    <h1>Cursos</h1>
    <p>
        <a class="link-info link-offset-2 link-underline link-underline-opacity-0" asp-action="Criar">Novo Curso</a> |
        <a class="link-info link-offset-2 link-underline link-underline-opacity-0" asp-controller="CursosOferecidos" asp-action="Index">Cursos Oferecidos</a>
    </p>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <table id="cursoTable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Duração</th>
                    <th>Ativo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cursoTable").dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("GetCursos")",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "idCurso", "name": "Id", "autoWidth": true },
                    { "data": "dsCurso", "name": "Nome", "autoWidth": true },
                    { "data": "categoria", "name": "Categoria", "autoWidth": true },
                    { "data": "duracao", "name": "Duração", "autoWidth": true },
                    { "data": "ativo", "name": "Ativo", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a class="btn btn-success" href="/CursosOferecidos/Oferecer/' + row.idCurso + '" >Oferecer</a>';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a class="btn btn-info" href="Curso/Editar/' + row.idCurso + '" >Editar</a>';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a class="btn btn-danger" href="Curso/Remover/' + row.idCurso + '" >Remover</a>';
                        }
                    },
                ],
                "language": {
                    url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese.json"
                }
            });
        });
    </script>
}